<html ng-app="ElevadorInteligente">
    <head>
        <title>Elevador Inteligente</title>

        <script type="application/javascript" src="assets/js/terceiros/jquery/jquery-2.1.4.js"></script>

        <script type="application/javascript" src="assets/js/terceiros/angular/angular.min.js"></script>
        <script type="application/javascript" src="assets/js/terceiros/angular/angular-sanitize.js"></script>

        <script type="application/javascript" src="assets/js/terceiros/bootstrap/bootstrap.min.js"></script>
        <script type="application/javascript" src="assets/js/terceiros/bootstrap/npm.js"></script>

        <script type="application/javascript" src="assets/js/elevador-inteligente/app/ElevadorInteligente.js"></script>

        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome/font-awesome.css">

        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body ng-controller="IndexController as vm">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="elevador in vm.elevadores; track by $index">Elevador {{$index + 1}}</th>
                    <th width="150px">#</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="iteracao in vm.obterNumeroIteracoes(vm.numeroAndares); track by $index" ng-init="i = $index">
                    <th scope="row">Andar {{vm.numeroAndares - i}}</th>
                    <td ng-repeat="elevador in vm.elevadores">
                        <span ng-if="elevador.localizacao == (vm.numeroAndares - i)">1</span>
                        <span ng-if="elevador.localizacao != (vm.numeroAndares - i)">0</span>
                    </td>

                    <th scope="row">
                        <div class="row">
                            <select class="form-control" style="width: 70px; float: left; margin-right: 5px"
                                    ng-model="andarSelecionado"
                                    ng-options="andar as andar for andar in vm.obterAndares()"></select>
                            <button type="button" class="btn btn-primary" ng-click="vm.chamarElevador(vm.numeroAndares - i, andarSelecionado)">Chamar</button>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

        <script type="application/javascript" src="assets/js/elevador-inteligente/model/Elevador.js"></script>
        <script type="application/javascript" src="assets/js/elevador-inteligente/controller/IndexController.js"></script>
    </body>
</html>